@import '../../../styles/mixins.scss';

.Button {
  border: $border-primary-width solid transparent;
  border-radius: $border-primary-radius;
  height: fit-content;
  width: fit-content;
  justify-content: center;
  @include button-padding;
  @include flex-center;

  &:hover {
    background-color: rgba($color: #fff, $alpha: 0.2);
  }

  @include ring;
}

.ButtonBackgroundColor {
  background-color: rgba($color: #fff, $alpha: 0.1);
}

.ButtonWithoutIcon {
  padding: $gap-2xs $gap-sm;
}

.ButtonWithIcon {
  padding: 2px $gap-xs;
}

.ButtonPrimary {
  background-color: $color-primary;
  &:hover {
    background-color: rgba($color: $color-primary, $alpha: 0.8);
  }
}

.FullWidth {
  width: 100%;
}

.SizeSmall {
  padding-inline: $gap-base;
  font-size: $size-font-xs;
}

.SizeLarge {
  padding: $gap-base $gap-2xl;
  font-size: $size-font-lg;
  gap: $gap-xs;
}

.IconOnly {
  padding: $gap-3xs;
}
