@import './preflight';
@import '../assets//fonts/inter.css';
@import './variables';
@import './mixins';
@import './utilities';
@import './scrollbar';

*,
:before,
:after {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%; // 1rem = 16px;
  outline-offset: 1px;
}

*:focus-visible {
  @include ring;
}

html,
body {
  user-select: none;
  -webkit-user-select: none;
  background: $color-bg-primary;
  color: $color-text-primary;
  overflow: hidden;
  font-family: 'Inter', ui-sans-serif, system-ui, -apple-system, Arial;
  font-weight: 400;
}

body,
#main {
  width: 100vw;
  height: 100vh;
}

div,
span,
p {
  font-size: $size-font-base;
}

button {
  * {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

label {
  font-size: $size-font-base;
}

input[type='text'],
input[type='number'],
textarea {
  width: 100%;
  padding: $gap-2xs $gap-base;
  background-color: $color-bg-tertiary;
  border-radius: $border-primary-radius;
  @include border-primary-light;
  &:not(:disabled) {
    @include hover-state-secondary;
  }

  &:invalid {
    border-color: red;
  }

  &:disabled {
    background-color: transparent;
  }

  transition: all 0.2s ease-in-out;

  &::placeholder {
    color: $color-text-tertiary;
  }

  &:hover {
    &::placeholder {
      color: $color-text-primary;
    }
  }
}

textarea {
  min-height: 15rem;
}

h1 {
  font-size: $size-font-2xl;
}

h2 {
  font-size: $size-font-xl;
}

h3 {
  font-size: 2.1rem;
}
