@import './variables';

@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin width-height-full {
  width: 100%;
  height: 100%;
}

@mixin absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin default-transition {
  transition: background 0.15s ease-in-out;
}

@mixin ring($size: 0.5px, $color: $color-primary) {
  &:focus,
  &:focus-visible {
    box-shadow: 0 0 0 calc($size + $focus-width-offset) $color;
  }
}

@mixin ringWithoutState($size: 0.5px, $color: $color-primary) {
  box-shadow: 0 0 0 calc($size + $focus-width-offset) $color;
}

@mixin hover($color: #fff) {
  &:not(:disabled):hover {
    background-color: rgba($color, $alpha: $hover-alpha);
  }
}

@mixin border-radius {
  border-radius: $border-primary-radius;
}

@mixin border-primary {
  border: $border-primary-width solid $border-primary-color;
  border-radius: 5px;
}

@mixin border-primary-light {
  border: $border-primary-width solid rgba(#fff, 0.2);
  border-radius: 5px;
}

@mixin border-secondary {
  border: 1px solid $border-primary-color;
  border-radius: 3px;
}

@mixin border-style($direction, $width: 2px) {
  border-#{$direction}: $width solid rgba($color: #fff, $alpha: 0.1);
}

@mixin border-all-style($width: 2px) {
  border: $width solid rgba($color: #fff, $alpha: 0.1);
}

@mixin opacity-active-hover {
  opacity: 0.45;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

/// ------------------ Button ------------------ ///
@mixin button-padding($inline: $gap-2xs, $block: $gap-2xs) {
  padding: $inline $block;
}

@mixin slide-left {
  animation: slideLeft 0.15s forwards;
}

@keyframes slideLeft {
  0% {
    transform: translateX(12px);
    opacity: 0.3;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
