@import '../../../styles/mixins.scss';

.MenuItem {
  min-width: 10rem;
  width: 100%;
  gap: $gap-6xl;
  justify-content: space-between;
  border-radius: var(--border-radius-primary);
  @include button-padding($block: $gap-2xl);
  @include flex-center;
  @include hover;
}
